---
title: About sports
layout: base.njk
---


<div class="container">
    <h1>About sports stats</h1>
    <div class="sport">
      <h1>⚽</h1>
      </div>
    <p>
    This is a simple JAMstack webssite created using the 11ty framework.
    Charts are rendered dynamically using Google Charts. 
    </p>
    
  </div>
  
  