---
title: About sports
layout: base.njk
---


<div class="container">
    <h1>About sports stats</h1>
    <div class="sport">
      <h1>⚽</h1>
      </div>
    <p style="text-align:left">
    This is a simple JAMstack webssite created using the 11ty framework.
    Charts are rendered dynamically using Google Charts. 
    </p>
    <h2>Site architecture</h2>
    <p style="text-align:left">Programming languages used to build the site are Nunjucks and JavaScript. HTML and Markdown
     are used for markup. The teams' logos and goals data were collected from the web with the goals data 
     specifically from FootyStats. The goals data were extracted and transformed into json files
     using a free online converter and excel. The site uses internal and inline CSS with 
     Bootstrap 5 used for better styling. The Google Charts API was used to generate charts</p>

    <h2>Use of the site</h2>
    <p style="text-align:left">This site contains historical data from the 2018-2019 EPL season. It can be extended 
    to the next seasons and have current data. It is easy to update and to maintain. 
    You can use it to get trends and predict 
    how teams will perform in order to place bets.</p>
    
  </div>
  
  