---
title: Goals Stats
layout: base.njk
---
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
const urlParams = new URLSearchParams(window.location.search);
    const name_ = urlParams.get('name');
    
    var name1 = name_.toString();
    var b = name1.split("|");
    console.log(b[1]);

function display_image(src, width, height, alt) {
    var c = document.createElement("img");
    c.src = src;
    c.width = width;
    c.height = height;
    c.alt = alt;
    document.body.appendChild(c);
}
display_image(b[1], 
                 100, 
                 100, 
                 'Team logo');
</script>


<h1>GOALS</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    // Visualization API with the Line chart package.
    google.charts.load('current', { 'packages':['corechart', 'line']});
    google.charts.setOnLoadCallback(drawLineChart);
    //const urlParams = new URLSearchParams(window.location.search);
    //const name_ = urlParams.get('name');
    
    //var name1 = name_.toString();
    //var a = name1.split("|");
    console.log(b[0]);

    var statsurl =  "/_data/stats/"+b[0]+".json"
    function drawLineChart() {
        $.ajax({
            url: statsurl,
            dataType: "json",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var arrGoals = [['Interval', 'Goals Scored','Goals Conceded']];    // Define an array and assign columns for the chart.
                // Loop through each data and populate the array.
                $.each(data, function (index, value) {
                    arrGoals.push([value.Interval, value.Goals_Scored, value.Goals_Conceded]);
                });
                // Set chart Options.
                var options = {
                    title: b[0]+' Goals scored and conceded per 10 minute interval',
                    pointSize: 5,
                    hAxis: {'title': 'Interval',
                    },
                    
                    backgroundColor: 'white',

                    vAxis: {'title': 'Goals',
                    ticks: [0,2,4,6,8,10,12,14,16,18,20]
                    }
                    
                    
                };
                // Create DataTable and add the array to it.
                var figures = google.visualization.arrayToDataTable(arrGoals)
                // Define the chart type (LineChart) and the container (a DIV in our case).
                var chart = new google.visualization.LineChart(document.getElementById('chart'))
                // Draw the chart with Options.
                chart.draw(figures,options);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Got an Error');
            }
        });
    }
</script>
<class = "row">
<div class="col-12">
<div id="chart" class ="chart"></div> 
</div>
</div>