---
title: Sports Stats
layout: base.njk
---


<div class="container">
    <h1>SPORTS STATS</h1>
    
    <div class="sport">
       ⚽
      </div>
      <p>
      Welcome to Sports Stats! View goals stats of 14 EPL teams.
      The site features graphical presentations of each team's
      goals scored and goals conceded per 10 minute intervals for the 2018-2019 season. Click 
      <a href="/soccer">here</a> 
      to view the stats. To view the squads of the teams and the locations of their stadiums
      clik <a href="/squads">here.</a>
      </p>
    
  </div>
  
