---
title: Sports Page
layout: base.njk
---


<div class="container">
    <h1>SPORTS</h1>
    <div class="sport">
       
      </div>
      <ul>
      {% for club in teams.clubs %}
    
    <li>
      {{club.name}}
      {{club.img}}
    </li>
    
    
  {% endfor %}
  </ul>
    
  </div>
  <script src="/js/sport.js"></script>
