--- 
layout: base.njk 
permalink: /squads/ 
---
<h1>Squads</h1>
<h1>⚽</h1>
<strong><p>Click on a team to view its squad and home ground location</p></strong>
</hr>
{% set squadslist = collections.squads %}
{% include "squadslist.njk" %}